<div class="fondo-overlay" (click)="cerrar()">
  <div class="modal-registro" (click)="$event.stopPropagation()">

    <button class="btn-cerrar" (click)="cerrar()">X</button>

    <div class="logo-circular">
      <img src="logo.jpg" alt="Lanería Mariano Díaz">
    </div>

    <h2>Regístrate</h2>

    <!-- Mostrar errores -->
    <div *ngIf="error" class="alerta-error">
      {{ error }}
    </div>

    <form [formGroup]="formularioRegistro" (ngSubmit)="registrarse()">

      <div class="campo">
        <label>Correo electrónico</label>
        <input type="email" formControlName="email" placeholder="Ingresa un correo">
        <small *ngIf="formularioRegistro.get('email')?.invalid && formularioRegistro.get('email')?.touched" class="error">
          Correo inválido
        </small>
      </div>

      <div class="fila">
        <div class="campo">
          <label>Nombre</label>
          <input type="text" formControlName="nombre" placeholder="Ingresa un nombre">
        </div>

        <div class="campo">
          <label>Apellido</label>
          <input type="text" formControlName="apellido" placeholder="Ingresa apellidos">
        </div>
      </div>

      <div class="fila">
        <div class="campo">
          <label>DNI</label>
          <input type="text" maxlength="8" formControlName="dni" placeholder="Ingresa un documento de identidad">
        </div>

        <div class="campo">
          <label>Celular</label>
          <input type="tel" formControlName="telefono" placeholder="+51 | Ingresa un celular">
        </div>
      </div>

      <div class="campo">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="Ingresa una contraseña">
        <small *ngIf="formularioRegistro.get('password')?.invalid && formularioRegistro.get('password')?.touched" class="error">
          Mínimo 6 caracteres
        </small>
      </div>

      <button type="submit" class="btn-registrar" [disabled]="cargando || formularioRegistro.invalid">
        {{ cargando ? 'Registrando...' : 'Registrarte' }}
      </button>

    </form>

    <p class="texto-login">
      ¿Ya tienes cuenta?
      <a routerLink="/autenticacion/inicio-sesion">Iniciar sesión</a>
    </p>

  </div>
</div>
